# This is a basic workflow to help you get started with Actions

name: Build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [master]
    paths-ignore:
      - "README.md"
      - "docs/**"

  pull_request:
    branches: [master]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  setup:
    name: Setup Versioning
    runs-on: ubuntu-18.04

    steps:
      - name: Patch Version
        run: npm run bump-patch

  build:
    needs: setup
    uses: ./.github/workflows/build.yml

  distribute:
    name: Distribute application
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Upload Artifact
        uses: actions/upload-artifact@v1
        if: ${{ !github.event.pull_request }}
        with:
          name: app-release.apk
          path: apps/mobile/android/app/build/outputs/apk/release/app-release.apk

      - name: upload artifact to Beta App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1.3.4
        if: ${{ !github.event.pull_request }}
        with:
          appId: ${{secrets.FIREBASE_APP_ID}}
          token: ${{secrets.FIREBASE_TOKEN}}
          groups: beta
          file: apps/mobile/android/app/build/outputs/apk/release/app-release.apk
          releaseNotes: |
            Below is the apk for commit: ${{ github.event.head_commit.message }}

      - name: upload artifact to Dev App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1.3.4
        if: ${{ github.event.pull_request }}
        with:
          appId: ${{secrets.FIREBASE_APP_ID}}
          token: ${{secrets.FIREBASE_TOKEN}}
          groups: dev
          file: apps/mobile/android/app/build/outputs/apk/release/app-release.apk
          releaseNotes: |
            Below is the apk for commit: ${{ github.event.head_commit.message }}

      - name: Upload artifact to telegram channel
        uses: appleboy/telegram-action@master
        if: ${{ !github.event.pull_request }}
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            Below is the apk for commit: ${{ github.event.head_commit.message }}
          document: ${{ github.workspace }}/apps/mobile/android/app/build/outputs/apk/release/app-release.apk

  release:
    uses: ./.github/workflows/release.yml
