# This is a basic workflow to help you get started with Actions

name: Staging

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [develop]
    paths-ignore:
      - "README.md"
      - "docs/**"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:  
  # This workflow contains a single job called "build"
  build:
  
    name: Building and Distribution of Dev Release
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2

      - name: Set up ruby env
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7.2
          bundler-cache: true

      # - name: Decode google-services.json
      #   env:
      #     FIREBASE_SECRET: ${{ secrets.FIREBASE_SECRET }}
      #   run: echo $FIREBASE_SECRET > apps/mobile/android/app/google-services.json

      - name: Decode env file
        env:
          ENV_SECRET: ${{ secrets.ENV_SECRET }}
        run: echo $ENV_SECRET  | base64 -d  > apps/mobile/.env

      - name: Setup packages
        run: npm run setup

      # uploading artifact
      - name: Upload Artifact
        uses: actions/upload-artifact@v1
        with:
          name: app-release.apk
          path: apps/mobile/android/app/build/outputs/apk/release/app-release.apk

      - name: upload artifact to Dev App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1.3.4
        with:
          appId: ${{secrets.FIREBASE_APP_ID}}
          token: ${{secrets.FIREBASE_TOKEN}}
          serviceCredentialsFile: apps/mobile/android/app/google-services.json
          groups: dev
          file: apps/mobile/android/app/build/outputs/apk/release/app-release.apk
          releaseNotes: |
            Below is the apk for commit: ${{ github.event.head_commit.message }}
